body {
  background-color: #a9a9a9;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

@media screen and (max-width: 600px) {
  .topNav .nav-btn {
    display: flex;
    margin: 0;
    padding: 0px;
    justify-content: center;
    background-color: #f3bb53;
    color: #000000;
    width: 100%;
    border: 0.5px solid black;
  }
}
@media screen and (max-width: 600px) {
  .nav-btn a {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
  }
}

/*this is for the navigation*/
.topNav {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.nav-btn {
  background-color: #f3bb53;
  border: none;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  font-size: 18px;
}

.nav-btn a {
  color: #000000;
  padding: 30px;
  font-family: "Open Sans", sans-serif;
}

.nav-btn:hover {
  background-color: #e8d92e;
}

a {
  color: #0f40a1;
  text-decoration: none;
  margin: 10px;
}

/*email button on the home page*/
.btn-email {
  font-size: 20px;
  background-color: #f3bb53;
  border-radius: 8px;
  padding: 10px;
}

/*also used to center images throughout*/
.logo,
.headshot {
  border-radius: 180px;
  display: block;
  margin: 0 auto;
  min-width: 100px;
  max-width: 250px;
  min-height: 100px;
  max-height: 250px;
}

/*container for the twitter icon on the main page and if I ever add different social media*/
.social-container {
  display: grid;
  grid-template-columns: 200px;
  grid-template-rows: 200px;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.footer {
  font-family: monospace;
  font-size: 16px;
  padding: 1px;
  text-align: center;
  margin: 20px auto;
}

.update {
  font-family: monospace;
  font-size: 16px;
  padding: 1px;
  text-align: center;
  margin: 20px auto;
  color: #bf470c;
}

/*main whitepage on the home page
.paper {
  text-align: center;
  background-color: #ffffff;
  max-width: auto;
  height: auto;
  border: solid 15px #000000;
  display: block;
  padding: 30px;
  padding-top: 0%;
  margin: 60px 60px;
}
*/

p {
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.project {
  display: block;
  margin: 0 auto;
  padding: 20px;
}

/*main header on the project page*/
.project-intro {
  font-size: 36px;
  text-align: center;
}

.contact-form {
  text-align: center;
}

.form-inputs {
  display: inline-block;
  text-align: right;
}

.project-link {
  color: #1717aa;
}

a.project-link:hover {
  color: #7bcc2f;
}

article h2 {
  text-align: center;
}

/*this is going to be for the portfolio page for project containers*/
.portfolio-container {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: repeat(2, 200px);
  gap: 30px;
  margin: 50px;
  margin-bottom: 0;
  justify-content: center;
}

.portfolio-item {
  height: 200px;
  width: 200px;
  align-content: center;
  border-radius: 50px;
}
