body {
  background-color: #a9a9a9;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif; /*from Google fonts linked on all pages*/
}

/*text adjustments*/
p {
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
}

a {
  color: #000000;
  text-decoration: none;
  margin: 10px;
}

article h2 {
  text-align: center;
}

/*end text adjustments*/

/*This starts the new navigation including the hamburger*/
/* [ON BIG SCREEN] */
/* (A) WRAPPER */
#hamnav {
  width: 100%;
  background: #a9a9a9;
}

/* (B) HORIZONTAL MENU ITEMS */
#hamitems {
  display: flex;
}
#hamitems a {
  flex-grow: 1;
  flex-basis: 0;
  padding: 10px;
  color: white;
  text-decoration: none;
  text-align: center;
  background-color: #f7bf50;
  border: 1px solid black;
}
#hamitems a:hover {
  background: #d28510;
}

/* (C) HIDE HAMBURGER */
#hamnav label,
#hamburger {
  display: none;
}

/* [ON SMALL SCREENS] */
@media screen and (max-width: 768px) {
  /* (A) BREAK INTO VERTICAL MENU */
  #hamitems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border: 2px solid #333;
    margin: 0;
    font-size: 18px;
    color: #000000;
    font-weight: bolder;
  }

  /* (B) SHOW HAMBURGER ICON */
  #hamnav label {
    display: inline-block;
    color: black;
    font-style: normal;
    font-size: 5em;
    padding: 10px;
    margin-bottom: 5px;
  }

  /* (C) TOGGLE SHOW/HIDE MENU */
  #hamitems {
    display: none;
  }
  #hamnav input:checked ~ #hamitems {
    display: block;
  }
}
/*end navigation code*/

/*for the main logo*/
#logo {
  border-radius: 180px;
  display: block;
  margin: 0 auto;
  max-width: 400px;
  max-height: 400px;
}

/*used to center images throughout*/
.aboutImg {
  border-radius: 180px;
  display: block;
  margin: 0 auto;
  min-width: 100px;
  max-width: 250px;
  min-height: 100px;
  max-height: 250px;
}

/*container for the twitter icon on the main page and if I ever add different social media, currently just Twitter, LinkedIn and GitHub*/
#social-container {
  display: grid;
  grid-template-columns: 200px 220px 200px;
  grid-template-rows: repeat(3, 80px);
  gap: 30px;
  justify-content: center;
  margin-right: auto;
}

.social-item {
  height: 200px;
  width: auto;
  max-width: 400px;
  align-content: center;
  justify-content: center;
}

/*this is going to be for the portfolio page for project containers*/

/*main header on the project page*/
#project-intro {
  font-size: 36px;
  text-align: center;
  margin: auto;
  padding: 20px;
}
#portfolio-container {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: repeat(3, 90px);
  gap: 30px;
  justify-content: center;
  margin-right: auto;
  padding: 10px;
}

.portfolio-item {
  height: 200px;
  width: auto;
  max-width: 400px;
  align-content: center;
  justify-content: center;
  border-radius: 50px;
  margin: 10px;
}

/*to adjust the portfolio and social containters, used portfolio-container only*/
@media screen and (max-width: 768px) {
  #portfolio-container,
  #social-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
}

/*adjust logo for mobile*/
@media screen and (max-width: 768px) {
  #logo {
    max-width: 250px;
    max-height: 250px;
  }
}

/*bottom of page items*/
/*footer and update are on every page*/
.footer {
  font-family: monospace;
  font-size: 16px;
  padding: 1px;
  text-align: center;
  margin: 20px auto;
}

.update {
  font-family: monospace;
  font-size: 16px;
  padding: 1px;
  text-align: center;
  margin: 20px auto;
  color: #bf470c;
}

/*main whitepage on the any page for news, blog, etc..
.paper {
  text-align: center;
  background-color: #ffffff;
  max-width: auto;
  height: auto;
  border: solid 15px #000000;
  display: block;
  padding: 30px;
  padding-top: 0%;
  margin: 60px 60px;
}
*/

/*contact page items*/
.contact-form {
  text-align: center;
}

.form-inputs {
  display: inline-block;
  text-align: right;
}

.mailto {
  color: #bc1212;
  font-size: 20px;
  font-style: italic;
}
